@import '~bootstrap/scss/bootstrap';
$black: #000;

body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,100) 0%, rgba(81, 88, 99, 100) 35%, rgba(14, 144, 171, 100) 100%);
  color: white;
  flex: auto;
  font-family: palatino;
  padding: 40px;
  text-align: center;
}

.after-auth {
  display: none;
}

.failure {
  background-color: red;
  color: white;
  font-size: 12px;
}

.success {
  background-color: green;
  color: white;
  font-size: 12px;
}
