@import '~bootstrap/scss/bootstrap';
$black: #000;

body {
  background-image: url("public/Mountain2Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,100) 0%, rgba(81, 88, 99, 100) 35%, rgba(14, 144, 171, 100) 100%);
  color: Purple;
  flex: auto;
  font-family: palatino;
  padding: 40px;
  text-align: center;
}

li {
  background-color: grey;
  border-radius: 100px / 50px;
  margin: 2px;
}

ul {
  list-style-type: none;
}

.after-auth {
  display: none;
}

.failure {
  background-color: red;
  color: white;
  font-size: 12px;
}

.success {
  background-color: green;
  color: white;
  font-size: 12px;
}

.update-delete {
  background-color: black;
  color: white;
  font-size: 14px;
}

#snowboardModal {
  color: #000;
}

#mountain {
  background-image: url("public/Mountain2Background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
